.eImage {
    display: block;
    width: 500px;
    height: 300px;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
}
.attending{
    background-color: lightgreen;
    border: black;
}
.attend{
    background-color: lightblue;
    border: black;
}

.block{
    padding: 10px;
}