i {
    font-size: 30px !important;
    color: black;
    margin-right: 100px
}

.navbar-nav {
    background-color: lightcyan !important;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 100;
}

.icon:hover{
    cursor: pointer;
}

#logout {
    margin-right: 0px !important;
    float: right;
    padding-right: 0px !important
}

body {
    background-image: url('./wall2.jpeg');
    background-size: cover;
    background-position:50% 50%;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ------------------------------------------------------------ */

.main-text {
    color: white;
    font-size: 30px;
    font-weight: 500;
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
}

#display-block {
    color: black;
    padding: 25px;
    background-color: lightcyan;
    margin-bottom: 50px;
    text-align: center;
}

.event {
    background-color: #022b44;
    margin-right: 40px;
    padding: 15px;
    color: white;
    text-align: center;
}

.event-name {
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.friend-name {
    margin-top: 10px;
    text-align: center;
    font-weight: 250;
    font-size: 15px;
}

img {
    height: 230px;
    width: 100%;
}

