i {
    font-size: 40px !important;
    color: #8265a7;
    margin-right: 30px
}

.navbar-nav {
    background-color: #2A1B3D;
    padding-top: 20px;
    padding-bottom: 5px;
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 100;
}

.icon:hover{
    cursor: pointer;
}

#logout {
    margin-right: 0px !important;
    float: right;
    padding-right: 0px !important;
}

body {
    background-color: #2A1B3D !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* ------------------------------------------------------------ */

.main-text {
    color: #a4b3b6;
    font-size: 30px;
    font-weight: 500;
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
}

#display-block {
    color: #a4b3b6;
    padding: 25px;
    background-color: #8265a7;
    margin-bottom: 50px;
    text-align: center;
}

.event {
    background-color: #8265a7;
    margin-right: 40px;
    padding: 15px;
    color: #a4b3b6;
    text-align: center;
}

.event-name {
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.friend-name {
    margin-top: 10px;
    text-align: center;
    font-weight: 250;
    font-size: 15px;
}

img {
    height: 230px;
    width: 100%;
}

