button {
    background-color: white;
    color: #1978a5;
    font-weight: 600;
    height: 50px;
    border-radius: 5px;
    width: 50px;
    margin-right: 10px;
    margin-left: -3px !important;
}

img {
    width: 250px;
    height: 250px;
    margin-right: 20px;
}

body {
    background-color: #031163;
    color: #b85042;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
    width: 800px;
    height: 50px;
    border-radius: 5px;
}

i {
    font-size: 30px !important;
    color: #05716c;
}

.navbar {
    background-color: white !important;
}

.main-text {
    color: white;
    font-size: 28px;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 30px;
}

.container {
    text-align: center;
}

#query, #label {
    border: 1px solid black;
    border-radius: 5px;
    height: 25px;
    width: 200px;
    background-color: whitesmoke
}

#display-block, #search-block, #your-block, #friends-block {
    background-color: #1978a5;
    color: #b85042;
    padding: 25px;
}

#search-block {
    background-color: #031163;
    padding: 0px;
}