i {
    font-size: 40px !important;
    color: #8265a7;
    margin-right: 30px
}

.navbar-nav {
    background-color: #2A1B3D;
    padding-top: 20px;
    padding-bottom: 5px;
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 100;
}

.icon:hover{
    cursor: pointer;
}

#logout {
    margin-right: 0px !important;
    float: right;
    padding-right: 0px !important;
}

body {
    background-color: #2A1B3D !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ----------------------------------  SEARCH BAR ------------------------------- */


.main-text {
    color: #a4b3b6;
    font-size: 30px;
    font-weight: 500;
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
}

#search-block {
    padding: 0px;
    background: none !important;
    text-align: center;
}

input {
    width: 800px;
    height: 50px;
}

.go {
    font-size: 22px !important;
    font-weight: 400;
    text-align: center;
}

button {
    background-color: white;
    font-weight: 500;
    height: 49px;
    width: 50px;
    margin-left: -4px !important;
}

/* ------------------------------------------------------------ */

#display-block {
    color: black;
    padding: 25px;
    margin-bottom: 50px;
    text-align: center;
}

.event, .friend {
    background-color: #8265a7;
    margin-right: 40px;
    padding: 15px;
    color: white;
    font-weight: 500;
    text-align: center;
}

.event-name, .friend-name {
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

img {
    height: 230px;
    width: 100%;
}

.icon:hover{
    cursor: pointer;
}

/* pagination position styling */
.pagination_section {
    position: absolute;
    top: 500px;
    right: 230px;
}
 
/* pagination styling */
.pagination_section a {
    color: white;
    padding: 10px 18px;
    text-decoration: none;
}
 
/* pagination hover effect on non-active */
.pagination_section a:hover:not(.active) {
    background-color: #031F3B;
    color: white;
}
 
/* pagination hover effect on active
a:nth-child(2) {
    background-color: white;
    color: black;
}
      
a:nth-child(1) {
    font-weight: bold;
}
      
a:nth-child(7) {
    font-weight: bold;
} */
