i {
    font-size: 40px !important;
    color: #8265a7;
    margin-right: 38px;
    margin-left: 12px
}

.navbar-nav {
    background-color: #2A1B3D;
    padding-top: 30px;
    padding-bottom: 5px;
    padding-left: 5px;
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 100;
}

.icon:hover{
    cursor: pointer;
}

#logout {
    margin-right: 0px !important;
    float: right;
    padding-right: 0px !important
}

body {
    background-color: #2A1B3D;
    color: #a4b3b6;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    margin-top: 130px !important;
    margin-bottom: 50px;
}


/* ----------------------  User Data ---------------------- */
#user-block {
    margin-bottom: 30px;
    margin-top: 30px;
}

#username {
    font-size: 25px;
    font-weight: 600;
}

#name {
    font-size: 30px;
    font-weight: 400;
}

#bio {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 400;
}

.dp {
    height: 300px ;
    width: 300px ;
    text-align: center;
    float: right;
    border: 10px solid #D83F87;
    border-radius: 50%;
}

/* ---------------------------------------------------------- */


/* ----------------------------  Event Data ---------------------- */
#events-block, #friends-block {
    margin-top: 100px;
}

.event, .friend {
    background-color: #44318D;
    display: inline-block;
    margin-right: 30px;
    margin-left: 10px;
    margin-top: 20px;
    padding: 15px;
    color: white;
    text-align: center;
}

.friend {
    background-color: #2A1B3D !important;
}

.event-name, .friend-name {
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

img {
    height: 100%;
    width: 100% 
}

.friend-image {
    border: 3px solid #D83F87;
}
/* ---------------------------------------------------------- */

