.heading {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input, button {
    margin: 10px;
    width: 500px;
}

.container {
    background-color: #F0FFFF;
    margin: auto;
    margin-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
    width: 800px;
    color: #1e3d59;
    border: 5px solid #f5f0e1;
}

.note {
    color: blue;
}

#bio {
    height: 100px;
}

body {
    background-image: url('./wall2.jpeg');
    background-size: cover;
    background-position:50% 50%;
}
.dropdown{
    width: 300px;
    height: 100px;
}