body {
    /* background-image: url('../frontend/wall2.jpeg');
    background-size: cover;
    background-position:50% 50%; */
    background-color: #2A1B3D !important;
    color: #a4b3b6 !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #8265a7; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.container {
    margin: auto;
    margin-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
    width: 800px;
}

.heading {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    margin: 10px;
    width: 300px;
    height: 40px;
}

.button {
    background-color: #D83F87;
    height: 40px;
    color: #a4b3b6;
    font-weight: 600;
}

.log{
    text-align: center;
    margin:auto;
}


